<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- meta tags -->
    <title>Login Page | Spotify Clone</title>
    <meta name="title" content="Login Page | Spotify Clone" />
    <meta
      name="description"
      content="Log in to your Spotify Clone account to access your personalized music library, playlists, and favorite tracks anytime, anywhere."
    />
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="/images/fav/favicon.svg"
      type="image/svg+xml"
    />
    <!-- google font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!-- custom css -->
  </head>
  <body>
    <h1>Login Page</h1>
  </body>
</html>
