<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- meta tags -->
    <title>Login Page | Spotify Clone</title>
    <meta name="title" content="Login Page | Spotify Clone" />
    <meta
      name="description"
      content="Log in to your Spotify Clone account to access your personalized music library, playlists, and favorite tracks anytime, anywhere."
    />
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="/images/fav/favicon.svg"
      type="image/svg+xml"
    />
    <!-- google font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <article class="login">
      <div class="banner">
        <img
          src="/images/login/login-banner.jpg"
          alt="login_banner"
          width="1080"
          height="1080"
          loading="lazy"
          class="img-cover"
        />
      </div>
      <div class="content">
        <a href="#" class="logo">
          <img
            src="/images/logo/logo.svg"
            width="94"
            height="24"
            alt="spotify_logo"
          />
        </a>
        <div class="wrapper">
          <h2 class="title headline-medium">
            <strong>Join us</strong> and unlock a world of endless music and
            <strong>unforgettable moments!</strong>
          </h2>
          <a href="https://localhost:3000" class="btn btn-primary has-icon">
            <img
              src="/images/spotify/spotify-on-primary.svg"
              width="18"
              height="18"
              alt=""
            />
            <span class="label-large">Continue with Spotify</span>
            <div class="state-layer"></div>
          </a>
        </div>
        <p class="bottom-text label-large">
          Powerd by
          <a
            href="https://spotify.com"
            target="_blank"
            class="link link-primary"
            >spotify</a
          >
        </p>
      </div>
    </article>
  </body>
</html>
