<div class="player-sm hide" data-player>
    <div class="track-info">
        <figure class="img-holder track-banner">
            <img src="/images/track-banner.png" alt="" class="img-cover" data-track-banner>
        </figure>
        <div style="min-width: 0;">
            <p class="title-small track-title ellipsis-one-line" data-track-name>
                Track Name
            </p>
            <p class="title-small track-text ellipsis-one-line" data-track-artists>
                Track Artists Name
            </p>
        </div>
    </div>
    <%- include('./playButton',{
        dataAttr:'data-player-control-play'
    })%>
    
    <progress class="progress" value="10" max="100" data-player-progress-sm></progress>

    <button class="track-view-btn state-layer" aria-label="now playing view" data-model-player-toggle></button>

</div>