<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/header'); %>
  </head>
  <body>
    <!-- top bar -->
    <%- include('../partials/top_bar',locals.currentProfile); %>
  </body>
</html>
