<div class="footer section">
    
    <div class="has-separator">

        <a href="https://youtube.com" target="_blank" class="social-link">YouTube</a>
        <span class="separator"></span>

        <a href="https://instagram.com" target="_blank" class="social-link">Instagram</a>
        <span class="separator"></span>

        <a href="https://twitter.com" target="_blank" class="social-link">X</a>
        <span class="separator"></span>

        <a href="https://facebook.com" target="_blank" class="social-link">Facebook</a>
        <span class="separator"></span>

        <a href="https://linkedin.com" target="_blank" class="social-link">LinkedIn</a>
        <span class="separator"></span>

    </div>

    <p class="footer-text body-medium">
        &copy; <script>document.write(new Date().getFullYear());</script> Developed by Payal Yadav
    </p>

</div>